
:root {
    --default-text-color: hsl(330, 7%, 18%);

}



body {
    background-color: #e9ebf8;
    color: var(--default-text-color, black);

}

/* Box Model */
/* Margin short, padding short, border short */
p {
    padding: 40px, 20px, 20px, 40px;
    margin: 10px, 10px, 10px, 10px;
    border: 10px;
    display: inline;
}

/* Margin long, padding long, border long */
/* Unqiue absolute units: px, mm, pt*/
/* Colors: name, rgb, hex, hsl      */
/* Text color, decoration, align    */
/* Variable with fall back          */
h1 {
    border-style: outset;
    border-width: 4pt;
    border-color: darkslategray;
    border-radius: 5px;
    background-color: #8cc5aa;
    text-align: center;
    padding-top: 3mm;
    padding-bottom: 3mm;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--default-text-color, black);
    text-decoration: underline rgb(233, 235, 248);

    position: static;


}

/* Display: block*/
h2 {
    background-color: #d5d9f3;
    padding-top: 2mm;
    padding-bottom: 2mm;
    padding-left: 5px;
    padding-right: 5px;

    position: relative;
    display: block;

}

/* Relative units em*/
/* sizing: min/max width/height*/
.button {
    background-color: darkslategray;
    color: white;
    padding: 1em 1em;
    border-radius: 8px;
    min-width: 40px;
    min-height: 30px;
    max-width: 100px;
    max-height: 80px;

}

/*
.partyForm {

}

.img {

}
*/
